.labelCodigo{
padding-left: 120px;
}
.labelCodigo1{
   
    }
.botonModal{
margin-top: 50px;
}
.metodos{
    padding-left: 100px;
    margin-top: 50px;
}
.divModal{
    padding-right:100px;
}
.formularioDiv{
padding-left: 100px;
margin-top: 25px;
}